#section-container {
  padding: 25px 35px;
}

.container-section-body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-title-search {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  flex-direction: row;
  justify-content: space-between;
}

.title-container h1 {
  font-size: 20px;
  font-weight: 600;
  color: #1c1c1c;
}

.search-container input {
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #ffffff;
  width: 100%;
  padding: 10px 60px 10px 20px; /* Espaço para a lupa */
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container img {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(0.8) contrast(1.5); /* Melhorando a visualização da lupa*/
}

.search-input::placeholder {
  color: #9e9e9e; /* Alterar para a cor desejada */
}
