.table-container {
  display: table; /* Usa o display de tabela, não flex */
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff; /* Background geral (não será visível se os filhos tiverem background próprios) */
  border-collapse: collapse; /* Garante que não haja espaçamento entre as células */
}

.table-thead-container {
  height: 50px;
  display: table-header-group; /*Padrão para o thead */
  background-color: #0500ff; /* Background do cabeçalho */
}

.table-thead-container tr {
  padding: 20px;
}

.table-thead-container h3 {
  padding: 10px 20px 10px 30px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.table-tbody-container {
  display: table-row-group; /* Padrão para o tbody */
  background-color: #fff;
}

.table-container td {
  padding: 15px 0 15px 30px;
  text-align: left;
}

.table-border-left {
  border-radius: 10px 0 0 0;
}

.table-border-right {
  border-radius: 0 10px 0 0;
}

.table-container tbody img {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: block;
}

.table-tbody-container tr {
  box-shadow: 0px 1px 2px 0px #00000033;
}

.table-tbody-container h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 600px) {
  /* Esconde a coluna 5 (começando do índice 1) */
  .table-container th:nth-child(5),
  .table-container td:nth-child(5) {
    display: none;
  }

  .table-container {
    max-width: 540px;
    margin: 0 auto;
  }

  .table-border-right-600 {
    border-radius: 0 10px 0 0;
  }
}

@media (max-width: 500px) {
  /* Esconde a coluna 4 (começando do índice 1) */
  .table-container th:nth-child(4),
  .table-container td:nth-child(4) {
    display: none;
  }

  .table-container {
    max-width: 440px;
    margin: 0 auto;
  }

  .table-border-right-500 {
    border-radius: 0 10px 0 0;
  }
}

@media (max-width: 380px) {
  /* Esconde a coluna 3 (começando do índice 1) */
  .table-container th:nth-child(3),
  .table-container td:nth-child(3) {
    display: none;
  }

  .table-container {
    max-width: 340px;
    margin: 0 auto;
  }

  .table-border-right-380 {
    border-radius: 0 10px 0 0;
  }
}
